#message {
    font-family: sans-serif;
    margin-top: 8px;
    background-color: #eefdec;
    width: 250px;
    height: 100px;
}
#name,#username {
    width: 250px;
}
#email,#password {
    width: 250px;
    margin-top: 8px;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #106b21;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  .large {
    padding: 50px
}
.cardwidth {
    width: 20rem;
}
.margintopbottom {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margintopbottom10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margintopbottom5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.cardmin {
    min-width: 300px;
}

.large-text {
    font-size: x-large;
}
.checkbox-bigger {
    zoom: 1.5;
}
.card-img-top {
    width: fit-content;
}
.cartbutton
{
    background-image:  url('/public/images/cart.png');
}
